/*标签选择器*/
div {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

p {
    width: 50px;
    height: 70px;
}

/*ID选择器
#mydiv {
    background-color: chocolate;
}

#myp {
    width: 300px;
    height: 100px;
}*/

/*类选择器
.red-tag {
    background-color: red;
}

.big-tag {
    width: 500px;
    height: 500px;
}*/

/*伪类选择器 状态
.effect:hover {
    transform: scale(1.2);
    transition: 200ms;
}

a:link {
    color: red;
}

a:visited {
    color: gray;
}

a:hover {
    color: black;
}

a:active {
    color: chocolate;
}

button:hover {
    color: green;
}

button:active {
    color: chocolate;
}

input:focus {
    color: red;
    background-color: aquamarine;
    transform: scale(1.2);
    transition: 200ms;
}*/

p:nth-child(5) {
    width: 50px;
    height: 50px;


}

p:nth-child(2n) {
    width: 50px;
    height: 50px;
}

input:target {
    color: red
}

/*复合选择器*/
div:hover,
p {
    border-radius: 30px;
    transition: 0.75s !important;
}

div.big:hover {
    transform: scale(1.2);
    transition: 0.75s;
}

/*紧跟在div后面的p*/
div+p {
    background-color: chartreuse;
}

/* ul li {
    color: rgb(135, 222, 197);
} */

ul ul {
    color: rgb(189, 10, 10);
}

ul li ul {
    color: #a52a2a;
}

ul>li>li {
    color: gray;
}

/*通配符选择器*/
* {
    font-size: 15px;
}

input[required] {
    background-color: aquamarine;
}

input[id] {
    background-color: brown;
}

input[type=number] {
    width: 100px;
}

/*伪元素选择器*/
p::first-letter {
    color: red;
    font-size: 110%;
}

p::first-line {
    background-color: lightblue;
}

p::selection {
    color: yellow;
    background-color: red;
}

h1::before {
    content: "《";
    color: red;
}

h1::after {
    content: "》";
    color: red;
}


/*样式渲染优先级
权重大小，越具体的选择器权重越大：!important > 行内样式 > ID选择器 > 类与伪类选择器 > 标签选择器 > 通用选择器
权重相同时，后面的样式会覆盖前面的样式
 继承自父元素的权重最低 */