h4 {
    text-align: center;
}

.mydiv {
    text-align: center;
    /* letter-spacing: 0; */
    line-height: 2em;
    /* font-size: 20px;  绝对值*/
    /* font-size: 200%; 相对于当前元素父元素的大小*/
    /* width: 50vw; */
    /* height: 30vh; */
    /* color: lightblue; */
    /* text-indent: 2em; 缩进*/
    /* font-size: 24px; */
    /* font-style: italic; */
    /* font-weight: 600; 字体的粗细*/
    /* font-weight: lighter; */
    /* font-family: serif; 字体 */
    /* font-family: monospace;等宽字体 */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: lightcoral; */
    /* background-image: url('/static/images/icon.png'), */
    /* url('/static/images/bird.png'); */
    /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 255, 0, 0.5)); 渐变色 */
    /* background-size: 100px 200px, 100px 200px; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-position: 50px 50px; */
    /* background-position: left top, right top; */
    /* background-attachment: ; */
    /* opacity: 0.5; */
}

.mydiv>p:nth-child(1) {
    /* text-decoration: underline; */
    /* font-style: italic; */
    /* text-shadow: 3px -3px 2px gray, */
    /* -3px 3px 2px lightgreen; 字体阴影效果 */
}

a {
    /* text-decoration: none; 去掉下划线 */
}

/*div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-style: solid dotted inset none;
    border-width: 5px;
    border-color: lightcoral;
    border-radius: 50%;
    border-collapse: collapse;
}*/

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

td {
    border-style: solid;
    width: 20px;
    height: 20px;

}

table {
    border-style: solid;
    border-collapse: collapse;
}

div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: 10px;
    padding: 3px;
    /* 取消自动换行 */
    white-space: nowrap;
    /* white-space: pre; */
    /* 文本超出会添加滚轮 */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    overflow: hidden;
    /* 超出用省略号 */
    text-overflow: ellipsis;
}

span {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    margin-top: 10px;
}